set PYTHONEXE=C:\local\python3\python.exe
set QTROOT=Y:\G\Qt
set QTVERSION=5.12.4
set QTVERSIONTOOLS=mingw73_32
set QTMINGBIN=mingw730_32
set MYICUDIRNAME=icu.mingw730_32

:: For Visual Studio 2017 x64
::call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"
::set MAKE=nmake

:: For MingW
:: set PATH=<path to mingw bin>
:: set MAKE=nmake
set PATH=%QTROOT%\Tools\%QTMINGBIN%\bin;%PATH%
set MAKE=mingw32-make.exe


set SOURCEDIR=src
set PRONAME=autosavememo
set DISTDIR=C:\Linkout\autosavememo



set FFCEXE=C:\LegacyPrograms\FFC\FFC.exe
set DISTDIR=C:\Linkout\autosavememo